@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container::-webkit-scrollbar {
  width: 0; /* 隱藏滾動條寬度 */
  height: 0; /* 隱藏滾動條高度 */
}

/* 隱藏滾動條的一些其他樣式，以避免在某些瀏覽器上的預設樣式出現 */
.container::-webkit-scrollbar-track {
  background-color: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.container {
  position: relative;
  width: 414px;
  height: 90vh;
  padding: 0px 0px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: auto;
}
.container .head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: sticky;
  top: 0;
  height: 69px;
  padding: 25px 20px;
  background: #19BDE1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}
.container .head .menu_left {
  display: none;
  position: absolute;
  padding: 10px 20px;
  top: 69px;
  height: 90vh;
  background-color: rgba(25, 189, 225, 0.97);
  transition: all 0.3s ease;
}
.container .head .menu_left .items {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  color: #B3E0E4;
}
.container .head .menu_left .items .item {
  display: flex;
  margin-top: 20px;
  gap: 5px;
  color: #B3E0E4;
  translate: all 0.3s ease-in;
}
.container .head .menu_left .items .item a {
  color: #B3E0E4;
  text-decoration: none;
}
.container .head .menu_left .items .item:hover {
  color: #E0E4B3;
}
.container .head .menu_left .items .item:hover a {
  color: #E0E4B3;
}
.container .head .menu_left .items .item:last-child {
  margin-top: 90px;
}
.container .head .menu .menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.container .head .menu .menu-btn i {
  font-size: 20px;
  color: #fff;
}
.container .head .logo a {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  font-style: italic;
}
.container .head .search {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.container .head .search button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.container .head .search button i {
  margin-top: 2px;
  font-size: 20px;
  color: #fff;
}
.container .head .search button:focus + .searchs {
  width: 80px;
}
.container .head .search .searchs {
  width: 0px;
  border: none;
  background-color: transparent;
  outline: none;
  transition: all 0.3s ease;
  color: #D9D9D9;
}
.container .head .search .searchs:focus {
  width: 80px;
}
.container .Food_bar {
  padding: 15px 20px;
}
.container .Food_bar .Food_title {
  display: flex;
  justify-content: space-between;
}
.container .Food_bar .Food_title lable {
  font-weight: 800;
}
.container .Food_bar .Food_title .tody_dish {
  background-color: #19BDE1;
}
.container .Food_bar .Food_title .tody_dish a {
  color: #fff;
  padding: 4px;
  font-size: 12px;
  font-weight: 800;
}
.container .Food_bar .food_img, .container .Food_bar .food_img2, .container .Food_bar .food_img3 {
  width: 100%;
  height: 185px;
  margin-top: 15px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 18px;
}
.container .Food_bar .food_img {
  background-image: url("https://images.unsplash.com/photo-1555939594-58d7cb561ad1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Zm9vZHxlbnwwfHwwfHx8MA%3D%3D");
}
.container .Food_bar .food_img2 {
  background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.container .Food_bar .food_img3 {
  background-image: url("https://images.unsplash.com/photo-1565958011703-44f9829ba187?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.container .Food_bar .Text_cent {
  margin-top: 10px;
}
.container .Food_bar .Feeling {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.container .Food_bar .Feeling i {
  font-size: 20px;
}
.container .Food_bar .line_bar .divider {
  height: 1px;
  width: 100%;
  background: #D9D9D9;
  margin-top: 15px;
  opacity: 0.85;
}/*# sourceMappingURL=style.css.map */